{% extends 'base.html' %}

{% block title %}
    {% if conta %}Editar Conta{% else %}Nova Conta{% endif %}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow border-top border-4 border-primary">
                <div class="card-body">

                    <h4 class="card-title text-center mb-4">
                        {% if conta %}
                            Editar Conta / Carteira
                        {% else %}
                            Nova Conta / Carteira
                        {% endif %}
                    </h4>

                    <form method="post">
                        {% csrf_token %}
                        {{ form.non_field_errors }}

                        <div class="mb-3">
                            <label class="form-label">Nome da conta</label>
                            {{ form.nome }}
                            {{ form.nome.errors }}
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Tipo</label>
                            {{ form.tipo }}
                            {{ form.tipo.errors }}
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Saldo inicial</label>
                            {{ form.saldo_inicial }}
                            {{ form.saldo_inicial.errors }}
                        </div>

                        <div class="d-grid mt-4">
                            <button type="submit" class="btn btn-primary fw-bold">
                                {% if conta %}
                                    Salvar Alterações
                                {% else %}
                                    Salvar Conta
                                {% endif %}
                            </button>

                            <a href="{% url 'listar_contas' %}" class="btn btn-outline-secondary mt-2">
                                Cancelar
                            </a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}