{% extends 'base.html' %}
{% block title %}Nova Transação{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow border-top border-4 border-primary">
                <div class="card-body">
                    <h4 class="card-title text-center mb-4">Nova Transação</h4>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="mb-3">
                            <label class="form-label">Descrição</label>
                            {{ form.descricao }}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Valor</label>
                            {{ form.valor }}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Data</label>
                            {{ form.data }}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Categoria</label>
                            {{ form.categoria }}
                        </div>
                        <div class="d-grid mt-4">
                            <button type="submit" class="btn btn-primary fw-bold">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
